{% extends 'base.html' %}

{% block title %}
首页 | FTP
{% endblock %}

{% block setitle %}
处理申请信息
{% endblock %}

{% block body %}
<table data-toggle="table" 
    data-undefined-text="-" 
    data-pagination="true" 
    data-search="true" 
    data-show-toggle="true" 
    data-show-refresh="true" 
    data-show-pagination-switch="true"
    data-show-pagination-switch="true" 
    data-show-columns="true" 
    data-striped="true" 
    >
    <thead>
        <tr>
            <th>ID</th>
            <th>工号</th>
            <th>昵称</th>
            <th>用户名</th>
            <th>密码</th>
            <th>所属</th>
            <th>申请时间</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        {% for content in contents %}
        <tr>
            <td>{{ content.id }}</td>
            <td>{{ content.jobnum }}</td>
            <td>{{ content.zh_username }}</td>
            <td>{{ content.username }}</td>
            <td>{{ content.password }}</td>
            <td>{{ content.department }}</td>
            <td>{{ content.time }}</td>
            <td><button id={{ content.id }} class="btn btn-primary" onclick=agree(this)>批准</button>  <button id={{ content.id }} type="button" class="btn btn-danger" onclick=refuse(this)>驳回</button></td>
        </tr>
        {% endfor %}
 
    </tbody>
</table>

<script type="text/javascript">
function refuse(obj){
    var theid = obj.id;
    console.log(theid);
    
    data = {};
    data['status'] = 'removeapply';
    data['theid'] = theid; 
    console.log(data);

    $.ajax({
        type: 'POST',
        data: JSON.stringify(data),
        contentType: 'json',
        url: 'http://127.0.0.1:5000/remove',						
        success: function(data) {
            console.log('success');
            window.location.href=window.location.href;
        }
    });
}
</script>



<script type="text/javascript">
function agree(obj){
    var theid = obj.id;
    console.log(theid);
    
    data = {};
    data['status'] = 'apply';
    data['theid'] = theid; 
    console.log(data);

    $.ajax({
        type: 'POST',
        data: JSON.stringify(data),
        contentType: 'json',
        url: 'http://127.0.0.1:5000/remove',						
        success: function(data) {
            console.log('success');
            window.location.href=window.location.href;
        }
    });
}
</script>


{% endblock %}
