{% extends 'base.html' %}

{% block title %}
{% for i in contents %}
{{ i.zh_username }} | FTP
{% endfor %}
{% endblock %}

{% block setitle %}
{% for ii in contents %}
用户信息编辑 : {{ ii.zh_username }}
{% endfor %}
{% endblock %}

{% block body %}

<div class="container">
    <form action="http://127.0.0.1:5000/change{{ user_id }}" method=post class=change>
{% for content in contents %}
  <div class="form-group">
    <label for="exampleInputUsername">ID : {{ content.id }}</label>
    </div>
  <div class="form-group">
    <label for="exampleInputUsername">工号 : {{ content.jobnum }}</label>
    </div>
  <div class="form-group">
    <label for="exampleInputUsername">昵称</label>
    <input type="username" class="form-control" id="zh_username" name='zh_username' value={{ content.zh_username }} required autofocus>
  </div>
  <div class="form-group">
    <label for="exampleInputUsername">用户名</label>
    <input type="username" class="form-control" id="username" name='username' value={{ content.username}} required autofocus>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">密码</label>
    <input type="username" class="form-control" id="password" name='password' value={{ content.password }} required autofocus>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">所属</label>
    <input type="username" class="form-control" id="department" name='department' value={{ content.department }} required autofocus>
  </div>
  {% endfor %}

  <button type="submit" class="btn btn-lg btn-primary">提交修改</button>
  <button onclick="window.location.href='{{ url_for('index') }}'" class="btn btn-lg btn-default">取消修改</button>
  <div style="padding-top:20px;">
  {% for message in get_flashed_messages() %}
  <div class=flash><div class="alert alert-success" role="alert">{{ message }}</div></div>
  {% endfor %}

</form>
</div>

{% endblock %}
