{% extends 'base.html' %}
{% block title %}
首页
{% endblock %}
{% block js %}
{{ super() }}
<link href="../static/form.css" rel="stylesheet">
{% endblock %}
{% block body %}
    {% if session.logged_in %}
        <form action="{{ url_for('add_entry') }}" method=post>
        <h2 class="form-signin-heading">请输入：</h2>
        {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
        <label for="Username" class="sr-only">Username</label>
        <input type="username" id="inputusername" class="form-control" name="username" placeholder="Username"><br>
        <label for="inputIp" class="sr-only">Ip</label>
        <input type="ip" id="inputIp" class="form-control" placeholder="IP/99/100/102/110/120" name="ip"><br>
        <label for="inputMac" class="sr-only">Mac</label>
        <input type="mac" id="inputMac" class="form-control" placeholder="Mac" name="mac">
        <div>
        <br>
        <input type="radio" name="option" value="add" checked>添加
        <input type="radio" name="option" value="change">修改
        <input type="radio" name="option" value="delete">删除
        <input type="radio" name="option" value="search">查找
        <br>
        </div>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">提交</button>
      </form>
    {% endif %}


{% endblock %}
